services:
  - type: web
    name: kandahub
    env: python
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn kandahub.wsgi"
    healthCheckPath: "/"
    autoDeploy: true
    deployCommand: |
      python manage.py migrate
      python manage.py createsuperuser --noinput
